<%= content_for :top_menu do %>
  Top Menu Here...<a href="javascript:void(0);">Click me!</a>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
this is cool!<br/>
<%= name2 %>
